<div class="panel panel-default">
  <div class="panel-heading"><%= comment.name %></div>
  <div class="panel-body"><%= comment.body %></div>
  <p>
      <%= link_to "delete", [comment.post, comment], method: :delete, data: {confirm: "you sure?"}%>
  </p>
</div>
